<!DOCTYPE html>
 <body>
 <html>
 <form action="action_page.php">
  <fieldset>
    <legend>Personal information:</legend>
    First name:<br>
    <input type="text" name= value=><br>
    Last name:<br>
    <input type="text" name= value=><br>
	Address:<br>
    <input type="text" name= value=><br>
	City:<br>
    <input type="text" name= value=><br>
	State:<br>
    <input type="text" name= value=><br>
	Zip:<br>
    <input type="text" name= value=><br>
	Email:<br>
    <input type="text" name= value=><br>
	Message for us:<br>
    <input type="text" name= value=><br><br>
	<br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
 </body>
 </html>