{% extends "seekerbase.html" %}

{%	block content	 %}
  <h3>Hello (name), Welcome to your dashboard!</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p># of profile views</p>
      <p> 29 views since joining </a>
    </div>
    <div class="col-sm-3"> 
      <p>Messages</p>
      <a class="navbar-brand" href="#">From:Google Subject:Interview</a>
    </div>
    <div class="col-sm-3"> 
      <p>Resume last updated:</p>
      <p> April 1, 2016 </a>
    </div>
    <div class="col-sm-3">
      <p>Video Chosen</p>
      <video width="300" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
      </video>
    
      </div>
	</div>
    </div>
  </div>
</div><br>
      


{%		endblock		%}