{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <body style="background:#80BFFF">
  <title>JobsiFit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
	  background-color: #5882FA;
      padding: 25px;
    }
  </style>
</head>
<body>
{%		csrf_token	%}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   <a class="navbar-brand" href="/seekerdash/">JobsiFit</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/seekerdash/">Dashboard Home</a></li>
        <li><a href="/seekerupload/">Upload</a></li>
        
        <li><a href="/seekeredu/">Educational Resources</a></li>
		<li><a href="/seekerfaq/">FAQ</a></li>
		<li><a href="/seekerservice/">Customer Service</a></li>
        <li><a href="/seekeraccount/">Account Settings</a></li>
        <li><a href="/seekerabout/">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
    <body style="background:#80BFFF">
  <div class="container text-center">
    
    <img src="{% static "images/handshake.jpeg" %}" role ="button"alt="Teacher Login" style="width:200px;height:200px;" />
    <h6>Search our Employer partners</h6>      
    <p>Search ___________________ok</p>
    <a class="container text-center" href="/seekerupload/">Upload your Resume and Video here</a>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  
  <div><div>
  {%	block content	 %}
  {%	endblock	 %}
  
  <div><div>
      


<footer class="container-fluid text-center">
  <p>We make it easy for you to find a job your qualified for!</p>
</footer>

</body>
</html>
